/* tags */
body {
    position: relative;

    --text-color: rgb(20, 41, 29);
    --highlight-color-1: rgb(178, 125, 5);
    --highlight-color-2: rgb(153, 162, 160);
    --bg-color-1: rgb(202, 206, 211);
    --bg-color-2: rgb(226, 230, 230);

    margin: 0;
    font-family:'Open Sans', sans-serif;
    color: var(--text-color);

    background: linear-gradient(to bottom, var(--bg-color-1), var(--bg-color-2));
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Proza Libre', sans-serif;
    color: var(--highlight-color-1);
}

header {
    display: flex;
    flex-direction: row;

    position: sticky;
    top: 0;
    left: 0;
    z-index: 1;

    background-color: white;

    max-width: 100%;

    box-shadow: 0px 0px 0px transparent;

    transition: box-shadow 0.125s ease;
}

header.shadow {
    box-shadow: 0px 5px 20px black;
}

main {
    min-height: 100vh;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 100%;
    padding: 16px 0;

    background: var(--bg-color-2);
    border-top: solid medium var(--highlight-color-1);
}

footer > #socialMediaIcons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    font-size: 32px;
}

footer > #socialMediaIcons img {
    object-fit: contain;
    width: 32px;
    height: 32px;
    margin: 0 6px;
}

button {
    min-height: 32px;
    min-width: 32px;

    background-color: var(--bg-color-1);
    border: thin solid var(--highlight-color-2);
    border-bottom: thick solid var(--highlight-color-2);
}

button:hover {
    border-color: var(--highlight-color-1);
}

input[type="search"] {
    border: thin solid var(--highlight-color-2);
    border-bottom: thick solid var(--highlight-color-2);
}

/* classes */
.tabSelect {
    flex: 1;
    margin: 0;
    text-align: center;

    border-style: none none solid solid;
    border-color: var(--highlight-color-2);
    border-width: medium;
    background-color: var(--bg-color-1);
}

.tabSelect:first-child {
    border-left: none;
}

.tabSelect.active {
    border-bottom: none;
}

.tabSelect > * {
    margin: 0;
}

.tab {
    display: none;
    flex-direction: column;
}

.tab.active {
    display: flex;
}

.itemSelection {
    display: grid;
    flex-grow: 1;
    grid-template-rows: auto auto auto;
    grid-template-columns: 33fr 66fr;
    order: 1;

    margin: 3px;

    border: solid thin var(--highlight-color-1);

    background: linear-gradient(to bottom, var(--bg-color-1), var(--bg-color-2));
}

.itemSelection.vaulted {
    order: 2;
}

.itemSelection.filtered, .dropDisplay.filtered {
    display: none !important;
}

.itemSelection > .itemName, .itemSelection > .vaultedStatus {
    margin: 0;
    text-align: center;

    grid-column: 1 / span 2;
}

.itemSelection > .vaultedStatus {
    color: red;
}

.itemSelection > .itemImage {
    display: flex;

    grid-column: 1 / span 1;
}

.itemSelection > .itemImage > img {
    object-fit: contain;
    width: 100%;
}

.itemSelection > .itemOptions {
    display: flex;
    flex-direction: column;
    justify-content: center;

    grid-column: 2 / span 1;

    font-size: 1.33em;
}

.itemSelection > .itemOptions > .itemWrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.itemSelection > .itemOptions > .itemWrapper > .itemCheckbox {
    width: 2em;
    height: 2em;
}

.relicButton {
    display: none;
    box-sizing: border-box;
    width: 100vw;

    max-width: 375px;

    border: none;
    padding: 7.5px 6px;
    background: transparent;
}

.relicButton.selected {
    display: flex;
}

.relicButton.vaulted {
    display: none;
}

.relicDisplay, .dropDisplay.selected, .dropRotation.selected {
    display: grid;
    grid-template-rows: auto 100fr;
    grid-template-columns: 50fr 50fr;
    
    width: 100%;
}

.relicDisplay, .dropDisplay {
    border: solid thin var(--highlight-color-1);

    background: linear-gradient(to bottom, var(--bg-color-1), var(--bg-color-2));
}

.relicDisplay > *, .dropDisplay > *, .dropRotation > * {
    margin: 3px 6px;
}

.relicDisplay > .relicName, .dropDisplay > .dropTitle, .dropRotation > .rotationName {
    grid-column: 1 / span 1;
    
    text-align: left;
}

.relicDisplay > .vaultedStatus, .dropDisplay > .combinedDropChance, .dropRotation > .rotationDropChance {
    grid-column: 2 / span 1;

    text-align: right;
}

.relicDisplay > .vaultedStatus {
    display: none;
    font-style: italic;
    color: red;
}

.relicDisplay.vaulted > .vaultedStatus {
    display: block;
}

.relicDisplay > .relicItemList, .dropDisplay > .itemList, .dropRotation > .itemList {
    grid-column: 1 / span 2;
}

.item {
    display: none;
    position: relative;
    z-index: 0;
    justify-content: space-between;
}

.item > * {
    margin: 0;
}

.item.selected {
    display: flex;
}

.item > .itemName {
    text-align: left;
    font-size: 1.33em;
}

.item > .itemProbability {
    text-align: right;
    font-size: 1.33em;
}

.relicDisplay > .relicItemList > .item.selected::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: -1;

    opacity: 0.5;

    background: linear-gradient(to left, var(--highlight-color-1), transparent)
}

.relicButton:focus > .relicDisplay > .relicItemList > .item {
    display: flex;
}

.dropDisplay {
    display: none;
    margin: 3px;
    max-width: 375px;
}

.dropRotation {
    display: none;
}

.fullscreenModal {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 2;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100vh;

    background: linear-gradient(to bottom, var(--bg-color-1), var(--bg-color-2));
}

.filterWrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 3px 0px;
}

.selectionWrapper {
    display: flex;
    align-items: center;
    font-size: 1.33em;
    margin: 0px 3px;
}

.selectionWrapper > input {
    width: 2em;
    height: 2em;
}
/* IDs */
#itemHolder, #relicInfo, #itemSelect, #relicHolder, #dropHolder {
    flex-direction: column;
    align-items: center;
}

#itemHolder, #relicHolder, #dropHolder {
    display: flex;
}

#relicHolder.showVaulted > .relicButton.vaulted.selected {
    display: flex;
}

#itemFilterOptions {
    display: grid;
    grid-template-columns: 100fr;
    grid-template-rows: auto auto auto;

    width: 100%;
    margin: 0 3px;
}

#itemSearchWrapper {
    display: flex;
    justify-content: center;

    grid-column: 1 / span 1;
    grid-row: 1 / span 1;
}

#itemSearchWrapper > input {
    height: 2em;
}

#expandFiltersWrapper {
    display: flex;
    justify-content: center;

    grid-row: 3 / span 1;
    grid-column: 1 / span 1;
}

#itemTypeFilters {
    display: none;
    flex-wrap: wrap;
    justify-content: space-around;

    grid-column: 1 / span 1;
    grid-row: 2 / span 1;
}

#itemTypeFilters.show {
    display: flex;
}

#dropCollapser {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#welcome > * {
    margin-left: 3px;
    margin-right: 3px;
}

/* collapsible elements */
button[collapsible-activator] {
    display: flex;
    align-items: center;
}

button[collapsible-activator] > * {
    margin: 0 3px;
}

/* media */
@media only screen and (min-width: 450px) {
    #itemHolder, #relicHolder, #dropHolder {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: initial;
    }

    #welcome {
        max-width: 75vw;
        margin-left: auto;
        margin-right: auto;
    }

    .itemSelection {
        max-width: 350px;
    }
}

@media only screen and (min-width: 925px) {
    .itemSelection {
        max-width: 300px;
    }

    #itemFilterOptions {
        grid-template-columns: auto auto;
        grid-template-rows: auto;
    }

    #itemSearchWrapper {
        grid-column: 1 / span 1;
        grid-row: 1 / span 1;
    }

    #itemTypeFilters {
        display: flex;
        grid-column: 2 / span 1;
        grid-row: 1 / span 1;
    }

    #expandFiltersWrapper {
        display: none;
    }
}

@media only screen and (min-width: 1024px) {
    #welcome {
        max-width: 60vw;
    }
}

@media only screen and (hover: hover) {
    .item > .itemName {
        font-size: 1em;
    }
    
    .item > .itemProbability {
        font-size: 1em;
    }

    .itemSelection {
        grid-template-columns: 50fr 50fr;
    }

    .itemSelection > .itemOptions > .itemWrapper > .itemCheckbox {
        width: initial;
        height: initial;
    }

    .itemSelection > .itemOptions {
        font-size: 1em;
    }

    #itemSearchWrapper > input {
        height: auto;
    }

    .selectionWrapper {
        font-size: 1em;
    }

    .selectionWrapper > input {
        width: 1em;
        height: 1em;
    }

}

@media only screen and (display-mode: fullscreen) {
    footer {
        display: none;
    }

    #welcome {
        display: none;
    }

    .tabSelect[tabID='welcome'] {
        display: none;
    }
}