/* tags */
body {
    margin: 0;
    font-family:'Open Sans', sans-serif;;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Proza Libre', sans-serif;
}

header {
    display: flex;
    flex-direction: row;

    max-width: 100%;
}

/* classes */
.tabSelect {
    flex: 1;
    margin: 0;
    text-align: center;

    border-style: solid none solid solid;
    border-color: black;
    border-width: medium;
}

.tabSelect:first-child {
    border-style: solid none;
}

.tabSelect.active {
    border-bottom: none;
}

.tab {
    display: none;
}

.tab.active {
    display: block;
}

.itemSelection {
    display: grid;
    grid-template-rows: auto auto auto;
    grid-template-columns: 33fr 66fr;

    margin: 6px;
}

.itemSelection > .itemName, .itemSelection > .vaultedStatus {
    margin: 0;
    text-align: center;

    grid-column: 1 / span 2;
}

.itemSelection > .itemImage {
    display: flex;

    grid-column: 1 / span 1;
}

.itemSelection > .itemImage > img {
    object-fit: contain;
    width: 100%;
}

.itemSelection > .itemOptions {
    display: flex;
    flex-direction: column;
    justify-content: center;

    grid-column: 2 / span 1;

    font-size: 1.33em;
}

.itemSelection > .itemOptions > .itemWrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.itemSelection > .itemOptions > .itemWrapper > .itemCheckbox {
    width: 2em;
    height: 2em;
}

.relicButton {
    display: none;
    box-sizing: border-box;
    width: 100%;

    border: none;
    padding: 6px;
    background: transparent;
}

.relicButton.selected {
    display: block;
}

.relicDisplay {
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: 50fr 50fr;
    
    width: 100%;
}

.relicDisplay > .relicName {
    grid-column: 1 / span 1;
    
    text-align: left;
}

.relicDisplay > .vaultedStatus {
    display: none;
    grid-column: 2 / span 1;

    text-align: right;
    font-style: italic;
    color: red;
}

.relicDisplay.vaulted > .vaultedStatus {
    display: block;
}

.relicDisplay > .relicItemList {
    grid-column: 1 / span 2;

    margin: 3px 0;
}

.relicDisplay > .relicItemList > .item {
    display: none;
    justify-content: space-between;
}

.relicDisplay > .relicItemList > .item > * {
    margin: 0;
}

.relicDisplay > .relicItemList > .item.selected {
    display: flex;
}

.relicButton:focus > .relicDisplay > .relicItemList > .item {
    display: flex;
}

.relicDisplay > .relicItemList > .item > .itemName {
    text-align: left;
    font-size: 1.33em;
}

.relicDisplay > .relicItemList > .item > .itemProbability {
    text-align: right;
    font-size: 1.33em;
}
/* IDs */

/* media */